/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2020, 5:56:59 PM
    Author     : Md. Ashafuddowla
*/

/*******************************Calendar Top Navigation*********************************/
div#calendar{
  margin:0px auto;
  padding:0px;
  /*width: 600px;*/
  width: auto;
  font-family:Helvetica, "Times New Roman", Times, serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color: #0f3f55;      
    /*background-color: #787878;*/
}
 
div#calendar div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    position:initial;
    left:11px;
    top:0px;
    /*width:582px;*/
    width:350;
    height:auto;   
    /*height:40px;*/   
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:15px;
    font-weight: bold;
}
 
div#calendar div.header a.prev{
    left:0px;
    font-size:15px;
    padding-left: 5px;
}
 
div#calendar div.header a.next{
    right:0px;
    font-size:15px;
    padding-right: 5px;
}
 

 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #0f3f55 !important;
    /*border:1px solid #787878;*/
    border-top:none;
    padding-left: 10px !important;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
/*    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;*/

 margin:0px;
    padding:0px;
    margin-right:0px;  
    float:left;
    list-style-type:none;
    width:34px;
    height:30px;
    line-height:30px;
    /*vertical-align:35px;*/
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
/*div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}*/


div#calendar ul.dates li {
    margin: 0px;
    padding: 8px;
    margin-right: 5px;
    margin-top: 3px;
    line-height: -6px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: #DDD;
    color: #000;
    text-align: center;
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}      