/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2019, 1:27:02 PM
    Author     : Md. Ashafuddowla
*/

/*Custom CSS Start*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}
a {
    /*color: #EEB211;*/
    text-decoration: none;
    font-size: 18px;
}
.bg-lightest{
    background-color: #0F3F55;
}
p{
    font-family: SolaimanLipi;
    font-size: 18px;
    /*color: #000;*/
}
.mt-5 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    color: #ffffff !important;
}
section > .container, section > .container-fluid {
    padding-top: 15px;
    /*padding-bottom: 40px;*/
    padding-bottom: 0px;
}
.m-0 {
    margin: 3px 0px 0px 0px !important;}
.mt-30 {
    margin-top: -20px !important;
    /*font-family: SolaimaniLipi !important;*/
}
.edu_list{
    font-size: 18px;
    padding-left: 20px;
    list-style-type: disc;
}
.key_feature_list{
    font-size: 18px;
}
.class_list{
    font-size: 18px;
    padding-left: 5px;
}
.edu_span{
    font-size: 15px;
    padding-left: 20px;
}
.we_font{
    font-family: sans-serif;
    font-size: 14px;
}
.pri_list_style{
    list-style-type: square;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
.card-body{
    text-align: left;
}
.bg-theme-color-2, .line-bottom::after, .line-bottom-center::after {
    background: #CFC66E !important;
}
.menuzord-responsive .menuzord-menu > li > a{
    background-color: #202C45;
}
.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li> a {
    /*background: #fff !important;*/
    background: #269D2D !important;
    /*color: #000 !important;*/
    color: #fff !important;
}
.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    /*background: #fff !important;*/
    background: #EEB211 !important;
    color: #000 !important;
}
/*.menuzord-responsive .menuzord-menu > li > a:hover{
    background-color: #202C45;
    color: #ffffff;
}*/

/*.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #fff none repeat scroll 0 0;
    color: #202C45;
}*/

::selection {
    background: #333333;
    color: #fff;
}


/*Custom CSS END*/









/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    h1, .h1 {
    font-size: 15px !important;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.mt-30 {
    margin-top: 0px !important;
}

.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #fff !important;
    color: #000 !important;
}
.font-12 {
    font-size: 10px !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 12px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: #202C45;
    color: #fff;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
     h1, .h1 {
    font-size: 22px!important;
}
.a{
    font-size: 12px !important;
}
/*.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #fff none repeat scroll 0 0;
    color: #202C45;
}*/
.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
    background: #fff;
    color: #000;
}
.font-12 {
    font-size: 10px !important;
    color: #000 !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 11px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: #202C45;
    color: #fff;
}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     h1, .h1 {
    font-size: 28px!important;
    font-weight: bold;
}
h2 {
    font-family: SolaimanLipi;
    font-weight: bold;
    text-align: center;
}
a{
    font-size: 15px;
}
.font-12 {
    font-size: 13px !important;
    color: #000 !important;
}
.sm-text-center {
    text-align: left !important;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
     h1, .h1 {
    font-size: 35px!important;
}
h2 {
    font-family: SolaimanLipi;
}
.font-12 {
    font-size: 13px !important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 4px;
}
}

/* Lar/*ge Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h1, .h1 {
    font-size: 52px!important;
    font-weight: 600;
    font-family: SolaimanLipi;
}
.font-38 {
    font-size: 35px !important;
}
 h2 {
    font-size: 36px!important;
    font-weight: 600;
    font-family: SolaimanLipi;
}
.menuzord-brand img {
    max-height: 120px;
}
.font-12 {
    font-size: 14px !important;
    color: #000;
}
}

/***===Custom CSS For Photo Gallery===***/
.course-area {
    background-color: #f5f5f5;
}
.course-area .section-title-wrapper {
    margin-bottom: 20px;
}
.single-item-image a {
    display: block;
}
.single-item-image {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.single-item-image img {
    width: 100%;
}
.overlay-effect a {
    position: relative
}
.overlay-effect a:before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    width: 100%;
}
.courses-hover-info {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.courses-hover-info:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: absolute;
    width: 100%;
    left: 0;
}
.courses-hover-action {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    padding-left: 20px;
    position: relative;
    z-index: 2;
}
.single-item:hover .courses-hover-info {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.courses-hover-thumb {
    margin-right: 20px;
}
.courses-hover-action h4 {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0;
}
.courses-hover-action h4 a {
    display: block;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
}
.courses-hover-action span.crs-separator {
    color: #fff;
    padding: 0 3px;
}
.courses-hover-action p {
    color: #fff;
    font-size: 15px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 0;
}
.single-item-text {
    padding: 20px 20px;
    padding-bottom: 0;
}
.single-item:hover .overlay-effect a:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.single-item {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #ddd;
}
.single-item:hover {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
}
.single-item-text h4 {
    font-size: 20px;
    padding-top: 7px;
    font-weight: 700;
}
.single-item-text h4 a,
.single-item-text h4 {
    color: #2d3e50;
}
.single-item-text h4 a:hover,
.single-item-text h4 a:hover {
    color: #FFAE27;
}
.single-item-text-info span {
    color: #696969;
    margin-right: 11px;
}
.single-item-text-info span span {
    color: #2d3e50;
}
.single-item-text > p {
    color: #222222;
    margin-top: 10px;
    font-size: 14px;
    line-height: 26px;
}
.single-item-content {
    overflow: hidden;
    padding: 20px 20px;
    background-color: #f6f8f9;
    margin: 0 -20px;
}
.single-item-comment-view {
    display: inline-block;
}
.single-item-text-info {
    margin-bottom: 18px;
    padding-top: 5px;
}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 17px;
}
.single-item-comment-view span:last-child {
    margin-right: 0
}
.single-item-comment-view > span i {
    font-size: 14px;
    margin-right: 7px;
}
.single-item-rating {
    display: inline-block;
}
.single-item-rating {
    color: #f3c30b;
    float: right;
    font-size: 16px;
    line-height: 26px;
}
.single-item-rating i {
    margin-left: 3px;
}
.single-item .button-default {
    padding: 8px 33px;
}
.button-bottom {
    margin-bottom: -19.5px;
    text-align: center;
}
.single-item:hover .button-default {
    background: #2d3e50 none repeat scroll 0 0;
}
.button-large.button-default {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.2);
    font-size: 18px;
    margin-top: 30px;
    padding: 16px 30px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 28px;
    border-radius: 50px;
}
.shortcode .button-large.button-default {
    margin-top: 40px
}
.button-default.button-large:hover {
    background: #FFAE27 none repeat scroll 0 0;
    color: #fff;
}
.button-large.button-default i {
    font-size: 28px;
    line-height: 20px;
    margin-left: 11px;
    position: relative;
    top: 4px;
}
/*---====End of Photo Gallery CSS====---*/